body
{
    background-image: url("https://i.postimg.cc/NMTsbvXL/Pngtree-gradient-blue-matte-background-1191196.jpg"); /* mise en place d'une image de fond*/
}

h1
{
    color:ivory; /* La couleur des titres sera blanc ivoire */
}

h1
{
    text-decoration: underline; /* les titres seront soulignés*/
}


*
{
font-family: 'Arial'; /* La police sera Arial */
}


h1 
{
    font-size: 40px;         /* Les titres auront une taille de police de 40 */

}

 .photo{

    float:right;       
    position: absolute;
    left: 65%;top:16%
    
   } 
   
.c{

   border: 2px solid black

}







h1
{
 border-radius: 20px;  
}

.c {

    font-size: 20px; font-weight:bold; 

}                      

em {
    font-style: italic ;
}

h3
{
    font-size: 25px;
}

.space-around{
    display: flex;
    justify-content: space-around;
}

h4
{
    font-style: italic ;
}























































































































































