body
{
    background-color: rgb(0, 128, 128); /* Le fond de la page sera violet */
    color: white; /* Le texte de la page sera blanc */
}


h1
{
    color: goldenrod; /* La couleur des titres sera vert */
}

*
{
font-family: 'Times New Roman'; /* La police sera Times New Roman */
}

h1
{
    text-shadow: 1px 1px 2px pink;  /* Les titres auront des ombres */
}

h1 
{
    font-size: 50px;         /* Les titres auront une taille de police de 50 */

}

.b .photo{

    float:left; border : 2px solid black;       
   } 
   

h1
{
 border-radius: 20px;  
}

.c {

    font-size: 20px; font-weight:bold; 

}                      

.d {

    float: right;
}


.experiences {

    float:right;
}





























































































































































